@inherits LayoutComponentBase
@layout MainLayout
@attribute [Authorize()]

@if (areaIsReady)
{
    <div class="full_container">
        <AreaLayoutComponent>
            <VerticalMenueRenderer>
                <AuthorizeView Policy="IsUser">
                    <VerticalMenuComponent HomeUrl="/user" ProfileName="@ProfileName" ProfileImg="@ProfileImage" UserRole="@UserRole">
                        <NavigationItem >
                            <UserMenuComponent/>
                        </NavigationItem>
                    </VerticalMenuComponent>
                </AuthorizeView>
                <AuthorizeView Policy="IsAdministrator">
                    <Authorized>
                        <VerticalMenuComponent HomeUrl="/administrator" ProfileName="@ProfileName" ProfileImg="@ProfileImage" UserRole="@UserRole">
                            <NavigationItem >
                                <AdminMenuComponent/>
                            </NavigationItem>
                        </VerticalMenuComponent>
                    </Authorized>
                </AuthorizeView>
            </VerticalMenueRenderer>
            <HorisontalMenueRenderer>
                <AuthorizeView Policy="IsUser">
                    <HorisontalMenuComponent IsLogout="@Logout" HomeUrl="/user" ProfileName="@ProfileName" ProfileImg="@ProfileImage" Id="@Id"/>
                </AuthorizeView>
                <AuthorizeView Policy="IsAdministrator">
                    <HorisontalMenuComponent IsLogout="@Logout" HomeUrl="/administrator" ProfileName="@ProfileName" ProfileImg="@ProfileImage" Id="@Id"/>
                </AuthorizeView>
            </HorisontalMenueRenderer>
            <BodyRenderer>
                <CascadingValue Value="SetUserInfo">
                    <AuthorizeView>
                        <Authorizing>
                            <div id="nb-global-spinner" class="spinner">
                                <div class="blob blob-0"></div>
                            </div>
                        </Authorizing>
                        <Authorized>
                            @Body
                        </Authorized>
                    </AuthorizeView>
                </CascadingValue>
            </BodyRenderer>
        </AreaLayoutComponent>
    </div>
}
