@page "/{homeUrl}/profile"
@page "/{homeUrl}/profile/{id}"
@layout AreaLayout

<AuthorizeView Policy = "IsAdministrator">
    <PageModelComponent>
        <PageHeader>
            <h3>Admin Profile Settings</h3>
        </PageHeader>
        <PageBody>
            <h4>Welcom from admin Layout</h4>
        </PageBody>
    </PageModelComponent>
</AuthorizeView>

<AuthorizeView Policy="IsUser">
    <PageModelComponent>
        <PageHeader>
            <h3>@User.User.ProfileName Settings</h3>
        </PageHeader>
        <PageBody>
            <h4>@User.User.Id</h4>
            <h4>@User.User.ProfileName</h4>
            <h4>@User.User.UserRole</h4>
            <h4>@User.User.ProfileImage</h4>
        </PageBody>
    </PageModelComponent>
</AuthorizeView>

@code {
	[Parameter]
	public string HomeUrl { get; set; }

	[Parameter]
	public string Id { get; set; }

}