@using TourPortal.Infrastructure.Shared.Models.Hotel

@if (RoomModel != null)
{
    <div class="container-fluid">
        <div class="col-12 col-sm-6 d-flex flex-column @(ShowViewButton ? "border border-primary" : string.Empty) p-0">
            <div class="col-12 d-sm-flex p-0">
                <div class="col-12 col-sm-6 p-0">
                    <div class="card-body">
                        <h5 class="card-title">@RoomModel.HotelName</h5>
                        <p class="card-text"><span class="fa fa-map-marker"/> @RoomModel.City</p>
                        <p class="card-text"><span class="fa fa-location-arrow"/> @RoomModel.Address</p>
                        @if (!RoomModel.IsFree)
                        {
                            <p class="card-text text-success text-uppercase">Свободна</p>
                        }
                        else
                        {
                            <p class="card-text text-danger text-uppercase">Заета</p>
                        }
                    </div>
                </div>
                <div class="col-12 col-sm-6 p-0">
                    <div class="card-body">
                        <h5 class="card-title">@ParsType(RoomModel.RoomType)</h5>
                        <p class="card-text"><span class="fa fa-bed"/> @RoomModel.CountOfBeds</p>
                        <p class="card-text"><span class="fa fa-blind"/> @RoomModel.CountOfPersons</p>
                        <p class="card-text"><span class="fa fa-money"/> @RoomModel.Price лм.</p>
                    </div>
                </div>
            </div>
            @if (ShowViewButton)
            {
                <div class="col-12 d-flex justify-content-center">
                    <RadzenButton style="margin: 1rem 0 1rem 0;" type="submit" Click="@(() => OpenRoom(RoomModel.Id))" Text="Покажи" ButtonStyle="ButtonStyle.Primary"/>
                </div>
            }
        </div>
    </div>
}


@code {
	[Parameter]
	public GetRoomByIdResponse RoomModel { get; set; }

    [Parameter]
    public bool ShowViewButton { get; set; } = true;

    private void OpenRoom(string roomId)
    {
        var url = NavigationManager.Uri.Split('/');
        var from = url[^1];
        NavigationManager.NavigateTo($"/user/{from}/room/{roomId}");
    }

    private string ParsType(string roomType) => roomType switch
    {
        "Single" => "Единична",
        "Double" => "Двойна",
        "Double with 2 single beds" => "Двойна с 2 единични легла",
        "Apartment" => "Апартамент",
        _ => ""
     };
}
