@inherits LayoutComponentBase
@layout MainLayout

@if (areaIsReady)
{
    <div class="full_container">
        <AreaLayoutComponent>
            <VerticalMenueRenderer>
                    <AuthorizeView Policy="IsUser">
                        <VerticalMenuComponent HomeUrl="/user" ProfileName="@ProfileName" ProfileImage="@ProfileImage" UserRole="@UserRole">
                            <NavigationItem >
                                <UserMenuComponent/>
                            </NavigationItem>
                        </VerticalMenuComponent>
                    </AuthorizeView>
                    <AuthorizeView Policy="IsAdministrator">
                        <Authorized>
                            <VerticalMenuComponent HomeUrl="/Administrator" ProfileName="@ProfileName" ProfileImage="@ProfileImage" UserRole="@UserRole">
                                <NavigationItem >
                                    <AdminMenuComponent/>
                                </NavigationItem>
                            </VerticalMenuComponent>
                        </Authorized>
                    </AuthorizeView>
            </VerticalMenueRenderer>
            <HorisontalMenueRenderer>
                <AuthorizeView Policy="IsUser">
                    <HorisontalMenuComponent HomeUrl="/user" ProfileName="@ProfileName" ProfileImage="@ProfileImage" Id="@Id"/>
                </AuthorizeView>
                <AuthorizeView Policy="IsAdministrator">
                    <HorisontalMenuComponent HomeUrl="/Administrator" ProfileName="@ProfileName" ProfileImage="@ProfileImage" Id="@Id"/>
                </AuthorizeView>
            </HorisontalMenueRenderer>
            <BodyRenderer>
                <AuthorizeView>
                    <Authorizing>
                        <div id="nb-global-spinner" class="spinner">
                            <div class="blob blob-0"></div>
                        </div>
                    </Authorizing>
                    <Authorized>
                        @Body
                    </Authorized>
                </AuthorizeView>
            </BodyRenderer>
        </AreaLayoutComponent>
    </div>
}
