@attribute [Authorize(Roles = Security.Role.Owner + "," + Security.Role.Employe)]
@page "/user/hotel"

<PageModelComponent>
	<PageHeader>
		<h3>Хотел @hotelName</h3>
	</PageHeader>
    <PageBody>
        <AuthorizeView Roles="@Security.Role.Owner">
            <HotelViewOwnerComponent HotelName="@CheckHotelName"/>
        </AuthorizeView>
        <AuthorizeView Roles="@Security.Role.Employe">
            <HotelViewEmployeComponent HotelName="@CheckHotelName" />
        </AuthorizeView>
    </PageBody>
</PageModelComponent>

@code {
    private string hotelName = string.Empty;

    private void CheckHotelName(string name)
    {
        if (!string.IsNullOrEmpty(name))
        {
            hotelName = name;
        }
    }
}
