@using TourPortal.Client.Data
@using TourPortal.Infrastructure.Shared.Models.Hotel
<div class="card card border-primary mb-3">
    <div class="d-md-flex">
        @if (Hotel is null)
        {
            <div class="col-12 col-md-3 p-2 w-100 card" style="width: 25rem;">
                <img class="card-img" src="/images/hotel.png" alt="Card image cap">
            </div>
            <div class="col-12 col-md-9 pl-0 pl-md-2">
                <div class="mb-3 pl-2 d-flex flex-column justify-content-between h-100 p-2">
                    @if (IsAddButtonActiv)
                    {
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Име:</label>
                                <div class="col-sm-10">
                                    <input type="text" readonly class="form-control-plaintext" value="">
                                </div> 
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Град:</label>
                                <div class="col-sm-10">
                                    <input type="text" readonly class="form-control-plaintext" value="">
                                </div> 
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Адрес:</label>
                                <div class="col-sm-10">
                                    <input type="text" readonly class="form-control-plaintext" value="">
                                </div> 
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Контакти:</label>
                                <div class="col-sm-10">
                                    @foreach (var contact in new List<string>())
                                    {
                                        <input type="text" readonly class="form-control-plaintext" value="">
                                    }
                                </div> 
                            </div>
                        </div>
                        <div class="row d-flex justify-content-end">
                        <RadzenButton style="margin: 0 1rem 1rem 0" Click=@(args => AddUser()) Text="Добави хотел" ButtonStyle="ButtonStyle.Primary" />
                        </div>
                    }
                    else
                    {
                        <EditForm Model="HotelModel" OnValidSubmit="AddNewHotel" Context="AddHotel">
                            <DataAnnotationsValidator/>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Име:</label>
                                    <div class="col-sm-10">
                                        <InputText type="text" class="form-control-plaintext" @bind-Value="@testText" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Град:</label>
                                    <div class="col-sm-10">
                                        <InputText type="text" class="form-control-plaintext" @bind-Value="@testText" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Адрес:</label>
                                    <div class="col-sm-10">
                                        <InputText type="text" class="form-control-plaintext" @bind-Value="@testText" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Контакти:</label>
                                    <div class="col-sm-10">
                                        @foreach (var contact in new List<string>())
                                        {
                                            <InputText type="text" class="form-control-plaintext" value="@contact" />
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex flex-row justify-content-end">
                                <div>
                                    <RadzenButton style="margin: 0 1rem 1rem 0" Click=@(args => Cancle()) Text="Отказ" ButtonStyle="ButtonStyle.Primary"/>
                                </div>
                                <div>
                                    @*<RadzenButton style="margin: 0 1rem 1rem 0" Click=@(args => AddNewHotel()) Text="Запази" ButtonStyle="ButtonStyle.Success"/>*@
                                    <button type="submit" name="login-submit" id="login-submit" tabindex="3" class="form-control btn btn btn-success">Запази</button>
                                </div>
                            </div>
                        </EditForm>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="col-12 col-md-3 p-2 w-100 card" style="width: 25rem;">
                <img class="card-img" src="@Hotel.HotelImageUrl" alt="Card image cap">
            </div>
            <div class="col-12 col-md-9 pl-0 pl-md-2">
                <div class="mb-3 pl-2 h-100">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Име:</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" value="Test for hotel name">
                            </div> 
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Град:</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" value="Test for hotel name">
                            </div> 
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Адрес:</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" value="Test for hotel name">
                            </div> 
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Контакти:</label>
                            <div class="col-sm-10">
                                @foreach (var contact in new List<string>())
                                {
                                    <input type="text" readonly class="form-control-plaintext" value="@contact">
                                }
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public HotelInfoModel Hotel { get; set; }

    private AddHotelModel HotelModel = new AddHotelModel();
    private bool IsAddButtonActiv = true;
    private string testText = "kjdkfjd";

    private void AddUser()
    {
        IsAddButtonActiv = false;
    }
    
    private void Cancle()
    {
        IsAddButtonActiv = true;
    }

    private async Task AddNewHotel()
    {
        NavigationManager.NavigateTo("/user");
    }
}